*.h5ad
*.csv 
*.xlsx
*.txt
figures_notebooks/figure_*/figures/
figures_notebooks/figure_*/*.csv
figures_notebooks/figure_*/*.txt
figures_notebooks/supp_figure_*/figures/
figures_notebooks/supp_figure_*/*.csv
figures_notebooks/supp_figure_*/*.txt
data/*
data/*.h5ad
figures_misc/*
misc/*
utils/__pycache__/*
utils/figure_utils.py
add_gene_ids.ipynb
update_data_labels.ipynb
notebooks/*.csv
notebooks/*.html
notebooks/Glia_Pairwise/*
notebooks/PanGlia_Analysis/*
notebooks/2023-*.ipynb
notebooks/2023-*/
notebooks/sheath-socket-analyses-method*.ipynb
notebooks/SheathSocket_Analysis_*/
notebooks/WholeData_Pairwise/
notebooks/fig_outputs/
notebooks/pan-glia-analyses-old_version.ipynb
notebooks/sheath-socket-analyses-old_version.ipynb
notebooks/pairwise-differential-results-Copy1.ipynb
figures_notebooks/*
notebooks/PanGlia_Analysis_L1_Excluded/*
notebooks/SheathSocket_Analysis/*
utils/feature_ranking_Copy1.py
